body{
    background: black !important;
    color: white !important;
    padding-bottom: 60px !important;
    position: relative !important;
}
header{
    margin-left: 1.25%;
    margin-right: 1.25%;
    height: 60px;
}
nav {
    float: right;
    width: 30%;
    margin-right: 1.25%;
    height: 100%;

}
nav ol{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

}
nav ol a{
    color: white;
    text-decoration: none;
}
nav ol a img{
    height: 35px;
    width: 35px;
}
.logo{
    height: 56px;
    width: 250px;
}
#ligne{
    height: 2px;
    width: 100%;
    background: white;
}
footer{
    position: absolute !important;
    bottom: 0 !important;
    padding-left: 1.25%;
    padding-right: 1.25%;
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.image{
    height: 202px;
    width: 322px;
}
.boutton {
    display: flex;
    background: white;
    color: black;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    border: none;
}

.contenaire-carte{
    width: max-content;
}
.contenaire-all-prix{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    bottom: 60px;
    visibility: hidden;
}
.contenaire-all-carte{
    width: max-content;
    text-align: center;
}
.titre{
    margin: 0;
    font-size: 20px;
}
#contenaire-all-carte{
    padding: 50px;
}
.contenaire-carte:hover .contenaire-all-prix{
    visibility: visible;
}
.boutton:hover{
    background: #d3ae37;
}
